
body {
	background: url('../images/background.jpg') repeat-x #d6d6d6; /* add a fallback color of #d6d6d6 */
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.7; /* line-height is unit-less */
	font-size: 12px;
}

a {
	color: #ff3300;
	text-decoration: none;
	font-weight: bold;
}

h1 a {
	background: url('../images/logo.png') no-repeat;
	width: 216px;
	height: 213px;
	margin: auto;
	display: block;

	/* image replacment technique */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

h2 {
	font-size: 20px;
	margin: 10px 0;
}

h2 a {
	text-decoration: none;
	color: #000000;
	}

#main h1 {
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
}

#container {
	width: 940px;
	margin: auto;
}

#header {
	margin-bottom: 40px;
}

#main {
	float: left;
	background: #FFF;
	width: 600px;
	padding: 20px;
	margin: 0px 10px 0 50px;
}

#right_sidebar {
	display: inline-block;
	background: #FFF;
	width: 250px;
	height: 700px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 11px;
	font-weight: bold;
}

#right_sidebar img {
	margin-top: 15px;
}

.red {
	color: red;
}

.post {
	margin-top: 20px;
	margin-bottom: 50px;
	border-top: 2px dashed black;
	border-bottom: 2px solid black;
	line-height: 25px;
}

#footer {
	clear:both;
	margin-left: 380px;
	padding-top: 50px;
}



